* {
  list-style-type: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}


.navbar{
  display: flex;
  justify-content: space-around;
  /* margin: 0;
  padding: 0; */
  overflow: hidden;
  background-color: #2c2a2a;
  box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.navbar h1{
  /* float: right; */
  padding: 10px;
  font-size: 30px;
  color: aliceblue;
  background-color: #ff7700;
  margin: 20px;
  border-radius: 5px; 
  /* margin-right: 30px;
  margin-top: ; */
}


.navbar h1:hover{
background-color: #c65d01;
transition: 0.5s;
}
.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  
}


.navbar li a:hover {
  background-color: #111;
}



.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 150px;
  height: auto;
}

.info {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;

}

.nav-tablette{
  display: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.contact {
  margin-top: 20px;
}

.contact p {
  margin: 5px 0;
}


@keyframes rainbow {
  0% { color: red; }
  14% { color: orange; }
  28% { color: yellow; }
  42% { color: green; }
  57% { color: blue; }
  71% { color: indigo; }
  85% { color: violet; }
  100% { color: red; }
}

.rainbow-text {
  font-size: 36px;
  animation: rainbow 3s linear infinite;
}

.bottom{
  float: right;
  margin: 0px 20px;
  width: 80%;
  padding: 1px 20px;
  color: #f2f2f2;
  background-color: #6c3402;
  border-radius: 40px 40px 0 0;
}

.bottom h2{
  text-decoration: underline;
  
}

.pp-box{
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}


.guibla-box{
  width: 400px;
  height: fit-content;
  margin: 25px;
  padding: 25px;
  background-color: #695353;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  transition: 0.25s ease-in-out;
  .txt-hover{
    display: none;
  }
}

.guibla-box:hover{
  width: 600px;
  flex-direction: row;
  transition: 0.25s ease-in-out;
  .txt-hover{
    display: block;
    margin: 20px;
  }
}



.pp-img{
  width: 400px;
  height: 400px;
  border-radius: 20px;
  display: block;
}

.pp-img:hover{
  border-top: solid 5px rgb(0, 0, 0);
  border-bottom: solid 5px rgb(0, 0, 0);
}


.box-titre{
  display: flex;
  justify-content: space-between;
}

.pp-titre{
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.txt-intro{
  margin: 5px 10px;
  font-size: smaller;
  font-style: italic;
}

@media only screen and (max-width: 1270px) {

  .pp-box{
    flex-wrap: nowrap;
  }

  .guibla-box:hover{
    flex-direction: column;
    width: 400px;
  }

}

@media only screen and (max-width: 1050px) {

  .pp-box{
    flex-wrap: wrap;
  }

  .guibla-box:hover{
    flex-direction: row;
    width: 600px;
  }
}

@media only screen and (max-width: 768px) {

  .nav-ordi{
    display: none;
  }

  .nav-tablette{
    display: flex;
  }

  ul{
    order: 1;
  }
}

